.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  margin-left: 12vmin;
  margin-right: 12vmin;
  margin-top: 12vmin;
}

.app-title {
  padding-bottom: 8vmin;
  font-weight: 600;
}

.add-item-container {
  padding-bottom: 4vmin;
}

.form {
  background-color: #cccccc;
  padding: 4vmin;
  border-radius: 2vmin;
}

.input-title {
  padding-bottom: 4vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.items{
  border:"solid 1px black";
  margin:"10px";
  padding:"10px";
}

.item-content{
  width:100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
